<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/index.css" />
    <title>TaskEase</title>
  </head>
  <body>
    <div>
      <% if(locals.listItems) { %> 
        <% for(let item of listItems){ %>
            <p>
                <%= item.title %>
            </p> 
        <% } %> 
      <% } %>
    </div>
  </body>
</html>
